@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
    --primary-colour:#e50916;
    --dark-colour:#141414;
    --light-colour:#f4f4f4;
}
* {
    margin:0;
    padding:0;
}
body{
    font-family:"open sans",sans-serif;
    background-color: #000;
    color: #999;
}
ul{
    list-style: none;
}
h1{
    color: white;
}
p{
    margin: 8px 0;
}
img{
     width: 100px;
}
a{
   color: white;
   text-decoration: none; 
}
.showcase{
    width: 100%;
    height: 93%;
    background:url("https://i.ibb.co/vXqDmnh/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; 
}
.showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.showcase-top{
    position: relative;
    z-index: 2;
    height: 90px;
}
.showcase-top img{
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.showcase-top button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}
.btn{
    background: var(--primary-colour);
    color: white;
    padding: 7px 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-right: 8px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 2px;
}
.btn-rounded{
    border-radius: 5px;
}
.btn-xl{
    font-size: 32px;
    padding: 24px 35px;
}
.showcase-content{
    position: relative;
    z-index: 2;
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75vh;
}
.showcase-content h1{
    font-weight: 700;
    font-size: 90px;
    margin-bottom: 32px;
}
.showcase-content p{
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: 400px;
    margin-bottom: 32px;
}
.footer{
    max-width: 70%;
    margin: 16px auto;
    color: #999;
    font-size: 12px;
}
.footer p{
    margin-bottom: 24px;
}
.footer-cols{
    display: flex;
    justify-content: space-between;
}
.footer li{
    line-height: 25px;
}
.footer a{
    color: #999;
    font-size: 15px;
}


